table {
	border: 12px solid #275a34;
    border-radius: 10px;	
    border-style: double;
	width: 100%;
    }
    
th, td {
	border: 2px solid;
	border-color: #0b6b6b;
    text-align: center;
    padding: 10px;	
    font-family: 'Brush Script MT', cursive;
    }
h2 {
	text-align: center;
    color: #503103; 
    font-family: verdana;
}
body {
    background-color: #fcf7ef;
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
}
.SR {
	background-color: #81a6f5
}
.Days {
	background-color:blanchedalmond;
}
.SOR {
	background-color: #e05a70;
}
.SI {
	background-color: darkkhaki;
}
.EIE {
	background-color: tomato;
}
.AW {
	background-color: #daa5da;
}
.H {
	background-color: blanchedalmond;
}
.T {
	background-color: blueviolet;
}
h1{
    color:black;
    text-align:center;
    font-size:50px;
    text-align:center
}
div{
    font-size:150px;
    color:green;
    text-align:center;
}   
header,footer {
    background-image: linear-gradient(to left, cyan, gray, blue);
    text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(247, 215, 128);
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}
li {
	float: left;
	border-right: 1px solid rgb(0, 0, 0);
}
li a {
	display:  block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: rgb(247, 123, 8);
}
.active{
	background-color: #e9a245;
}